.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #CACDD8;
    border-radius: 2px;
    font-size: 13px;
    background-color: white; /*bg to fix filter color issue*/
}

.filter:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.name {
    margin-right: 7px;
    font-weight: 600;
    line-height: 210%;
}

.remove {
    cursor: pointer;
}