.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 9px 12px 9px 0;
    width: 70px;
    height: 50px;
    border-radius: 6px;
    background-color: #F5F7FF;
}

.value {
    min-width: 45px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 210%;
}

.arrows {
    display: flex;
    flex-direction: column;
}

.up, .down {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    color: #A2A6B0;
    cursor: pointer;
    user-select: none;
}

.up:hover, .down:hover {
    background-color: #b4c3fd83;
}

.up {
    transform: rotate(270deg);
}

.down {
    transform: rotate(270deg);
}