.container > * {
    margin-bottom: 5px;
}

.row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 15px;
}

.description {
    max-width: 287px;
    color:#666;
    font-size: 14px;
}

.show {
    user-select: none;
    cursor: pointer;
}

.expanded {
    transform: rotate(90deg);
}

.hidden {
    transform: rotate(-90deg);
}