.cart {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 10px;
    padding: 5px 10px;
}

@media screen and (max-width:480px){
    .cart {
        grid-template-columns: 1fr 2fr;
    }
}

.caption {
    padding: 10px 0;
}

@media screen and (max-width:480px){
    .caption {
        order: 3;
        text-align: center;
        background-color: var(--clr-light-purple);
        border-radius: 4px;
        grid-column: span 2;
    }
}

.button {
    align-self: stretch;
}

.price {
    font-weight: 600;
}