.news {
    
}

.title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(225px,1fr));
    gap: 20px 9px;
}