.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

@media screen and (max-width:768px){
    .content {
        justify-content: space-around;
    }
}

.selectors {
    display: flex;
    gap: 40px;
}

.selectors * {
    cursor: pointer;
}

.selected{
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    border-bottom: 2px solid var(--clr-blue);
}

.item{
    color: #666;
    font-style: normal;
    text-transform: capitalize;
    font-weight: 600;
}